* {
    font-family: 'Roboto', 'sans-serif';
}

nav {
    min-height: 50px;
    background: #212121;
}

.menu{
    display: flex;
    justify-content: space-between;
    padding: 17px 40px 20px 71px;
    margin: 0;
    list-style-type: none;
}

.menu .minu_link{
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-decoration: none;
}

.menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px;
}

.subheader {
    position: absolute;
    width: 100%;
    min-height: 87px;
    background: rgba(0, 0, 0, .6);
    mix-blend-mode: normal;
}

.subheader .subheader_logo {
    max-width: 100%;
    display: block;
    margin-top: 19px;
    
}

.subheader .subheader_logotext {
    font-style: normal;
    font-weight: 100;
    font-size: 13px;
    align-items: center;
    color: #FFFFFF;
    margin-top: 7px;
}

.subheader .subheader_call {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    align-items: center;
    text-align: right;
    color: #FFFFFF;
    margin-top: 24px;
}

.subheader .subheader_phone {
    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    align-items: center;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
}

.subheader .subheader_btn {
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    margin-top: 21px;
    border: none;
}

.promo {
    min-height: 799px;
    padding: 152px 0 186px 0;
    background: url('../img/promo/uber_bg.jpg') center center/cover no-repeat;
}

.promo .promo_title {
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.promo .promo_subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 10px;
}

.promo .promo_text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
}

.promo .promo_btn {
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
    margin: 0 auto;
    margin-top: 115px;
    display: block;
    border: none;
}

.reasons {
    min-height: 849px;
    padding: 18px 0 67px 0;
}

.reasons .reasons_label {
    display: flex;
    justify-content: center;
    width: 115px;
    height: 27px;
    background: #000000;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    margin: 0 auto;
}

.reasons .reasons_title {
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
    margin-top: 33px;
}

.reasons .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.reasons .reasons_block .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 116px;
    background: #1EACC7;
    border-radius: 100%;
    margin-right: 25px;
}

.reasons .reasons_block .reasons_descr {
    width: 371px;
}

.reasons .reasons_block .reasons_descr .reasons_subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    align-items: center;
    color: #1EACC7;
}

.reasons .reasons_block .reasons_descr .reasons_text {
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    align-items: center;
    color: #202020;
}

